*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
     width: 100%;
     height: 120vh;
     background-image: url(bg_image.jpg);
     background-repeat: no repeat;
     background-size: cover;
     background-position: center;
}
body .first{
    background-color: rgb(46, 109, 122);
}
header{
    background: rgb(27, 24, 24);
}
header nav .navbar a:hover{
    color: rgb(233, 83, 28);
}
.container{
    max-width:1150px;
    padding: 15px 10px;
    margin: 0 auto;

}

header nav .navbar a{
   color: rgb(237, 237, 232);
   text-decoration: none;
    margin-right: 4rem;
}

.home{
    position: relative;
    justify-content: space-between;
    background-position: center;
    display: flex;
    padding: 50px 200px 0;
}
.home img{
    width:400px;
    height:500px;
}
.Home-content h1{
    font-size:60px;
    font-family:'Times New Roman', Times, serif;
    color:rgb(132, 29, 17);

}
.Home-content h2{
    color: black;
    padding:10px;
}
.Home-content p1{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:50px;
    color:rgb(10, 25, 85)
}
.Home-content p2,ul{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:50px;
    color:rgb(10, 25, 85)

}



body .second{
    background-image: url(bg2.webp);
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    image-resolution: 100%;
    background-attachment: fixed; 
    width: 140%;
    height: 140vh;

}
.contact-content h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    margin-left: 25%;
    box-sizing: border-box;
}
.contact-form{
    padding: 0 20px;
    padding-top: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.contact-form div{
    padding: 1px 0;
    display: flex;
    flex-direction: column;
} 
.contact-form div input{
    width:26vw;
    border-radius: 5px;
    margin:2px 0 0 0;
    padding: 5px ;

}
#emailhelp{
    font-size: 20px;
    color: rgb(32, 32, 177);
    margin: 0 5px;
}
.contact-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50px;
    font-size: 25px;
    color: #0ef;
    text-decoration: none;
    margin: 10px 10px 10px ;
    margin-left: 10px;
}
.contact-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box
{
    display: inline-block;
    padding: 12px 28px;
    background: 40px;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
}
.contact-sci h3{
    color: rgb(165, 5, 5);
}





